body{
    padding: 0;
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.totalPagina{
    display: grid;
    grid-template-columns: 20% 80%;
}
.menu{
    height: 98.5vh;
    background-color: #6813d4; 
    color: #fff;
    padding: 5px;
}
.cabecalhoMenu{
    margin-top: 60px;
    font-size: 14px;
}
.dashboardMenu{
    margin-top: 60px;
    font-weight: 700;
}
.ativa{
    background-color: #fff;
    color: #666;
    padding: 7px;
    border-radius: 0px 50px   50px 0px;
    border: none;
}
.dashboradMenuSessoes{
    margin-left: 50px;
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
    align-content: space-evenly;
    justify-content: space-evenly;
    justify-items: start;
}
.dashboradMenuSessoesQuadro{
    background-color: #fff;
    font-size: 20px;
    color: #666;
    width: 226px;
    height: 178px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(216, 214, 214);   
}
.dashboradMenuSessoesQuadro p{
    padding: 10px;
}
.dashboradMenuSessoesQuadro span{
    display: block;
    text-align: center;
    font-size: 30px;
}